@media (max-width: 1100px) {
  #page-home {
    background-position: 22vw 25vh;
  }
  #page-home main {
    max-width: 400px;
  }
  #page-home main h1{
   font-size: 28px;
  }

  #page-home main p{
    font-size: 16px;
   }
}

@media (max-width: 900px) {
  #page-home {
    background-position: 70vw;
  }

  #page-home .content {
    align-items: center;
    text-align: center;
  }
  #page-home header {
   margin-bottom: -130px;
  }


  #page-home header a {
    position: absolute;
    bottom: 48px;
    left: 50%;
    transform: translateX(-50%);
  }

  #page-home main {
    align-items: center;
  }
}



@media (min-width: 1700px) {
  #page-home {
    background-position: 40vw 35vh;
  }
}